<div class="menu">
    
    <img style="margin: 10px 0px 0px 20px; width: 60px; height: 60px;"src="../../assets/icons/livro.svg">
    
    <div class="container">
        <div class="row menu-buttons">
            <div class="col-lg-2 col-md-2 col-sm-12">
                <button mat-flat-button>Inventário</button>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <button mat-flat-button>Movimentação</button>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <button mat-flat-button>Gerenciamento</button>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <button mat-flat-button>Cadastrar Livros</button>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <button mat-flat-button>Sair</button>
            </div>
        </div>
    </div>
</div>

