/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.campo-obrigatorio:after {
    color: red;
    font-size: 10px;
    content: "Campo obrigatório";
}

.background {
    background: url('./assets/images/backgrounds/background-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 100vw;
}