<div class="menu">
    
    <img style="margin: 10px 0px 0px 20px; width: 60px; height: 60px;"src="../../assets/icons/livro.svg">
    
    <div class="container">
        <div class="row menu-buttons">
            <div class="col-lg-2 col-md-2 col-sm-12">
                <button mat-button>Inventário</button>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <button mat-button>Movimentação</button>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <button mat-button>Registrar movimento</button>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <button mat-button>Cadastrar Livros</button>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <button mat-button (click)="logout()">Sair</button>
            </div>
        </div>
    </div>
</div>

